{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
<title>Board:View</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/app/board_view.css' %}">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/angularjs/angular-sanitize.min.js' %}"></script>
{% endblock %}

{% block body %}
<div class="body" ng-controller="BoardViewCtrl" id="{{posting_id}}" memberid="{{member_id}}" member="{{member_user}}">
    <div class="panel panel-default">
        <div class="panel-heading">
        <h1 class="panel-title" ng-cloak>{[{title}]}</h1>
        </div>
        <div class="panel-body" ng-cloak ng-bind-html="content">
        </div>
    </div>

    <div style="text-align:right">
        <button class="btn btn-default btn-edit" type="button" ng-show="posting.member == {{member_id}}" ng-click="editPosting()">Edit</button>
        <button class="btn btn-default btn-delete" type="button" ng-show="posting.member == {{member_id}}" ng-click="deletePosting()">Delete</button>
    </div>

    <input type="text" class="form-control" placeholder="comment" style="margin-top:20px; margin-bottom:20px" submit-comment ng-model="comment">

    <div class="panel panel-default">
        <div class="panel-body">
            <div class="media" ng-repeat="commentItem in commentList">
                <div class="media-body" idx="{[{commentItem.id}]}" ng-cloak>
                    <h4 class="media-heading">{[{commentItem.comment}]}</h4>
                    {[{commentItem.comment_writer}]} - {[{commentItem.regdt}]}
                </div>
                <hr>
            </div>

            <div ng-show="commentList.length == 0">There is no comment</div>
        </div>
    </div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'js/app/board_view.js' %}"></script>
{% endblock %}
