{% extends 'base.html'%}
{% load staticfiles %}

{% block title %}
<title>Member:Login</title>
{% endblock %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/app/member_login.css' %}">
{% endblock %}

{% block javascript %}
<script type="text/javascript" src="{% static 'js/module/sha256.js' %}"></script>
{% endblock %}

{% block body %}
<div class="body" ng-controller="MemberLoginCtrl">
    <div>
        <div class="form-group">
            <label>User ID</label>
            <input type="id" class="form-control" placeholder="User ID" ng-model="userId" login-submit>
        </div>
        <div class="form-group">
            <label>Password</label>
            <input type="password" class="form-control" placeholder="Password" ng-model="password"  login-submit>
        </div>
        <div class="form-group">
            <button ng-click="login()"  type="button" class="btn btn-primary btn-lg btn-block btn-join" ng-disabled="checkFieldValid()" disabled>Login!</button>
        </div>
    </div>

    <div style="text-align: center; cursor: pointer;" ng-click="moveToJoin()">Move to join</div>
</div>
{% endblock %}

{% block footer %}
<script type="text/javascript" src="{% static 'js/app/member_login.js' %}"></script>
{% endblock %}
